/*

   RADIUS

*/

html {
    /* Border Radius */
    --radius-0: var(--step-0);
    --radius-1: var(--step-1);
    --radius-2: var(--step-2);
    --radius-3: var(--step-3);
    --radius-4: var(--step-4);
    --radius-100: var(--percent-100);
    --radius-pill: 999rem;
}
