/*

   SHADOWS

*/

html {
    --shadow-1: 0px 0px 4px 2px var(--gray75);
    --shadow-2: 0px 0px 8px 2px var(--gray75);
    --shadow-3: 2px 2px 4px 2px var(--gray75);
    --shadow-4: 2px 2px 8px 0px var(--gray75);
    --shadow-5: 4px 4px 8px 0px var(--gray75);
}
